/* ------------ Sky background ------------ */
/* Fallback for browsers without webp support */
.no-webp .parallax-container {
  background: url(../../images/designHome/1skyBackground.png) no-repeat top
    center/100%;
}

.webp .parallax-container {
  background: url(../../images/designHome/1skyBackground.webp) no-repeat top
    center/100%;
}

.parallax-container {
  overflow: hidden;
}

/* Fade effect */
.parallax-container::after {
  height: 8%;
  background: linear-gradient(0deg, $des-accent-color2 0%, transparent 100%);
}

#scene img {
  width: 100%;
  height: auto;
}

#scene li {
  width: 100%;
}

/* ------------ Midground trees ------------ */
.trees {
  position: relative;
}

/* Place a duplicate image of trees to compensate for top parallax cutoff */
.trees::before {
  width: 100%;
  height: 5%;

  content: "";

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-60%);
  z-index: -1;
}

/* Fallback for browsers without webp support */
.no-webp .trees::before {
  background: url(../../images/designHome/3treesMidground.png);
  background-size: 100%;
}

.webp .trees::before {
  background: url(../../images/designHome/3treesMidground.webp);
  background-size: 100%;
}

/* Shack */
/* Add green shades to cover up bottom cutoff */
.shack {
  box-shadow: 0 20px 0 0 rgb(116, 134, 51), inset 0 -20px 10px rgb(116, 134, 51);
}

/* ------------ Title ------------ */
.home-title,
.layer.header {
  width: 100%;
  height: 100%;
}
