.filter-menu.des label {
  background: $des-accent-color2;
}

.filter-menu.des input:checked ~ label,
.filter-menu.des li:hover label,
.filter-menu.des label:hover {
  background: $des-primary-color;
  color: $des-accent-color;
}
