.filter-text {
  display: none;
}

.filter-menu {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.filter-menu li {
  list-style: none;
  cursor: pointer;
}

.filter-menu label {
  border-radius: 20px;
  padding: 0.5rem;

  /* For black circle effect */
  position: relative;
  z-index: 1;

  display: inline-block;
  text-align: center;
  overflow: hidden;
  transition: $transition-ease;
  cursor: pointer;
}

/* tablets */
@media (min-width: 600px) {
  .filter-text,
  .filter-menu {
    display: flex;
  }
}
