.filter-menu {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.filter-menu li {
  margin: 0.25em;
  list-style: none;
  cursor: pointer;
}

.filter-menu label {
  border-radius: 20px;
  padding: 1em;

  /* For black circle effect */
  position: relative;
  z-index: 1;

  display: inline-block;
  text-align: center;
  overflow: hidden;
  transition: background-color 500ms linear;
  cursor: pointer;
}
