.toggle-menu.des .btn {
  background: var(--des-accent-color2);
}

.toggle-menu.des .btn:hover {
  color: var(--des-accent-color);
}

/* Button tooltip */
.toggle-menu.des .btn::before {
  background-color: var(--des-primary-color);
  color: var(--des-accent-color);
}
