.toggle-menu.dev .btn {
  background-color: #2c1641a2;
}

.toggle-menu.dev .btn:hover {
  background: #4b3a9e00;
  color: rgb(171, 171, 241);
  border: 1px solid rgb(171, 171, 241);
}

.toggle-menu.dev .btn::before {
  background: #000000a2;
  color: rgb(171, 171, 241);
}
