.toggle-menu.dev .btn {
  background-color: var(--dev-primary-color-transparent);
}

.toggle-menu.dev .btn:hover {
  color: var(--dev-accent-color);
}

/* Button tooltip */
.toggle-menu.dev .btn::before {
  background: black;
  color: var(--dev-accent-color);
  box-shadow: inset 0 0 0 1px var(--dev-accent-color);
}
