.toggle-menu.dev .btn {
  background-color: var(--dev-primary-color-transparent);
}

.toggle-menu.dev .btn:hover {
  background: transparent;
  color: var(--dev-accent-color);
  border: 1px solid var(--dev-accent-color);
}

/* Button tooltip */
.toggle-menu.dev .btn::before {
  background: rgba(0, 0, 0, 0.635);
  color: var(--dev-accent-color);
}
