/* ------------ Menu styling ------------ */
.menu {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 100;
}

/* Individual button styling */
.btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  position: absolute;

  display: grid;
  place-items: center;
  overflow: hidden;

  cursor: pointer;
  box-shadow: var(--shadow);
}

/* Button tooltip */
.btn::before {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;

  content: attr(data-tooltip);
  font-weight: 700;
  font-size: 0.5rem;
  text-align: center;
  display: grid;
  place-items: center;

  position: absolute;
  left: 0;
  transition: opacity 500ms linear;
}

.resume-btn::before {
  font-size: 0.45rem;
}

/* Show tooltip on hover */
.btn:hover::before {
  opacity: 1;
}

.btn:not(:first-child):hover {
  transform: scale(1.5);
}
/* ------------ Positioning closed menu buttons ------------ */
.menu-btn,
.close-btn {
  position: absolute;
  transition: 0.3s linear;
}

/* Hide close button when menu is closed */
.close-btn {
  transform: translateY(3rem);
  opacity: 0;
}

/* Place buttons behind burger button */
.btn:not(:first-child) {
  opacity: 0;
  transition: 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  z-index: -2;
  left: 0;
  top: 0;
}

/* ------------ Positioning open menu buttons ------------ */
#menu-checkbox:checked ~ .toggle-menu .menu-btn {
  transform: translateY(-3rem);
  opacity: 0;
}

/* Show close button when menu is open */
#menu-checkbox:checked ~ .toggle-menu .close-btn {
  transform: translateY(0);
  opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .home-btn {
  left: 4.125rem;
  top: 1.25rem;
  opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .about-btn {
  left: 1.25rem;
  top: 4.125rem;
  opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .projects-btn {
  top: 8.25rem;
  opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .resume-btn {
  left: 6.5rem;
  top: 6.5rem;
  opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .contact-btn {
  left: 8.25rem;
  opacity: 1;
}
