.contact {
    text-align: center;
    padding: 5% 0%;
}

.contact h3 {
    margin-bottom: 2%;
}

.contact h3 ~ p {
    opacity: 0.8;
    margin-bottom: 2%;
}

.social-links-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 15%;
    overflow: scroll;
    margin: 2%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: currentColor;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: background-color .5s ease-in-out;
}

.social-item p {
    font-size: 1vw;
}

.social-icon {
font-size: 4vw;
margin: 2%;
}