.contact {
  flex: 1 0 100%;
  padding: $section-padding;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
}

.contact h3 {
  margin-bottom: 0.5em;
}

.contact h3 ~ p {
  opacity: 0.8;
}

.social-links-container {
  width: 80%;
  max-width: 900px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.social-item {
  flex-basis: 15%;
  border-radius: $rounded-border;

  @include center-content;

  box-shadow: $shadow;
}

/* laptops */
@media (min-width: 600px) {
  .social-icon {
    font-size: 1.5rem;
  }
}
