.contact.des {
  background-color: var(--des-primary-color);
}

.des .social-item {
  background: var(--des-accent-color2);
}

.des .social-item:hover {
  background: var(--des-primary-color);
  color: var(--des-accent-color);
}
