.contact.des {
  background-color: var(--des-primary-color);
}

.des .social-item {
  background: var(--mixed-primary-color); /* fallback for older browsers */
  background: var(--des-gradient-background);
  transition: background-position 500ms linear;
}

.des .social-item:hover {
  background-position: left;
}
