.contact.des {
  background-color: $des-primary-color;
}

.des .social-item {
  background: $des-accent-color2;
}

.des .social-item:hover {
  background: $des-primary-color;
  color: $des-accent-color;
}
