.contact.dev {
  background-color: var(--dev-secondary-color);
}

.dev .social-item {
  background-color: var(--dev-primary-color-transparent);
  position: relative;
}

/* Border */
.dev .social-item::after {
  border: 1px solid var(--dev-accent-color);
  border-radius: 20px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";
  opacity: 0;
  transition: opacity 500ms linear;
}

.dev .social-item:hover {
  background: black;
  color: var(--dev-accent-color);
}

.dev .social-item:hover::after {
  opacity: 1;
}
