.toggle-bar-container {
  width: 100%;

  position: fixed;
  bottom: 5%;
  z-index: 100;
}

.toggle-bar {
  width: 15%;
  height: 2rem;
  border-radius: 20px;
  padding: 0.3em;

  background: var(--mixed-primary-color); /* fallback for older browsers */
  background: linear-gradient(
      90deg,
      var(--mixed-primary-color) 0%,
      var(--des-primary-color) 25%,
      var(--dev-accent-color2) 75%,
      var(--dev-primary-color) 100%
    )
    right/200%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;

  position: relative;
  left: 50%;
  transform: translateX(-50%) scale(2);

  transition: background-position 500ms linear;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.ball {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-1.8rem, -50%);

  transition: left 500ms linear, transform 500ms linear;
  cursor: pointer;
}

.fa-pencil-alt {
  margin-left: 0.12rem;
}

/* Togglebar hovered */
#toggle-checkbox:checked + .toggle-bar:hover,
.toggle-bar:hover {
  background-position: center;
}

/* Togglebar checked */
#toggle-checkbox:checked + .toggle-bar {
  background-position: left;
}

#toggle-checkbox:checked + .toggle-bar .ball {
  left: 0;
  transform: translate(0.2rem, -50%);
}
