.card-hover-area {
    perspective: 1000px;
    width: 22.5%;
    height: 45vmin;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card.des {
    transform-style: preserve-3d;
    height: 90%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.project-card.des img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.des.card-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-out;
    background-color: #863aa8bd;
    border-radius: 20px;
    opacity: 0;
}

.flickr-link {
    background-color: darkorange;
    justify-self: flex-end;
    height: 20%;
    border-radius: 0px 0px 20px 20px;
}

.flickr-link:hover {
    background-color:#fd5176 ;
    color: #ffd74b;
}