.card-hover-area {
    perspective: 1000px;
    width: 22.5%;
    height: 45vmin;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card.des {
    transform-style: preserve-3d;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.project-card.des img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.des.card-content {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
    background-color: #863aa8bd;
    border-radius: 20px 20px 0px 0px;
}

.des.card-title {
    font-size: 3vmin;
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
}

.des.card-subtitle {
    padding: 5%;
    font-size: 2.25vmin;
    text-align: center;
    opacity: .7;
}

.flickr-link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    background-color: darkorange;
    justify-self: flex-end;
    width: 100%;
    height: 20%;
    border-radius: 0px 0px 20px 20px;
}

.btn-text {
    font-size: 2.25vmin;
    margin-left: 5px;
}
