.project-card.dev {
  height: 45vw;
  flex: 0 1 100%;
}

.card-content.dev {
  width: 100%;
  height: 100%;
  border-radius: $rounded-border;

  text-align: center;
  position: relative;
  transition: transform 1s linear;
  transform-style: preserve-3d;
}

.project-card.dev:hover .card-content {
  transform: rotateY(0.5turn);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: $rounded-border;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-front picture {
  height: 100%;
}

.card-front img {
  height: 100%;
  width: 100%;
  border-radius: $rounded-border;
  object-fit: cover;
}

.card-front::before {
  border: 2px solid $dev-accent-color;
  border-radius: $rounded-border;
  content: "";

  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  transform: translateZ(8rem);
}

.front-titles {
  width: 100%;
  height: 100%;
  border-radius: $rounded-border;
  padding: 10%;
  background: $dev-primary-color-transparent;

  position: absolute;
  top: 0;
  transform: translateZ(3rem);
  transform-style: preserve-3d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev.card-title {
  transform: translateZ(3rem);
}

.dev.card-subtitle {
  transform: translateZ(2rem);
}

.card-back {
  transform: rotateY(0.5turn);
  background: $dev-secondary-color;
  overflow: hidden;
}

.card-description {
  height: 55%;
  padding: 2em;

  text-align: center;
  display: none;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.card-tools {
  width: 90%;
  flex: 1 1 80%;

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  font-size: 0.8rem;
}

.card-tool {
  margin: 0.2em 1em;
  text-align: center;
}

.card-links {
  width: 100%;
  flex: 1 1 20%;
  border-radius: 0 0 $rounded-border $rounded-border;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.dev .btn-text {
  display: none;
}

.demo-link {
  height: 100%;
  border-radius: 0 0 0 $rounded-border;

  background-color: rgba(79, 224, 217, 0.827);
}

.github-link {
  height: 100%;
  border-radius: 0 0 $rounded-border $rounded-border;
  background-color: $dev-accent-color2;
}

.demo-link ~ .github-link {
  border-radius: 0 0 $rounded-border 0;
}

.dev .social-btn {
  border: solid 2px transparent;
}


.dev .social-btn:focus,
.dev .social-btn:hover {
  background: black;
  color: $dev-accent-color;
  border-color: $dev-accent-color;
}

@media (min-width: 600px) {
  .project-card.dev {
    flex-basis: 35%;
    height: 25vw;
  }
}

@media (min-width: 801px) and (orientation: portrait) {
  .dev .btn-text,
  .card-description {
    display: flex;
  }
}

@media (min-width: 801px) and (orientation: landscape) {
  .dev.card-subtitle {
    display: none;
  }

  .project-card.dev {
    flex-basis: 30%;
    height: 12vw;
  }
}

@media (min-width: 1025px) {
  .dev.card-subtitle,
  .dev .btn-text,
  .card-description {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .project-card.dev {
    height: 10vw;
  }
}

@media (min-width: 1600px) {
  .project-card.dev {
    flex-basis: 0 1 25%;
    height: 15vw;
  }
}
