.project-card.dev {
    width: 45%;
    height: 45vmin;
    margin: 1%;
}

.card-content.dev {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.project-card.dev:hover .card-content {
    transform: rotateY(.5turn);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.card-front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.front-titles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: #2c16419d;
    border-radius: 20px;
    top: 0;
    transform: translateZ(6rem);
}

.card-back {
    transform: rotateY(.5turn);
    background-color: #4a3a9e;
}

.card-description {
    height: 55%;
    overflow: scroll;
    padding: 5%;
    font-size: 2.25vmin;
    text-align: center;
    /* backface-visibility: hidden; */
}

.card-tools {
    opacity: .7;
    display: inline-flex;
    height: 25%;
    width: 100%;
    flex-wrap: wrap;
    padding: 0% 5%;
    align-items: center;
    justify-content: center;
    font-size: 2.25vmin;
}

.card-tool{ 
    margin: 0% 5%;
    text-align: center;
}

.card-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    justify-self: flex-end;
    border-radius: 0px 0px 20px 20px;
}

.demo-link {
    height: 100%;
    background-color: #4fe0d9d3;
    border-radius: 0px 0px 0px 20px;
}

.github-link {
    height: 100%;
    background-color: #0080f9;
    border-radius: 0px 0px 20px 20px;
}

.demo-link ~ .github-link {
    height: 100%;
    background-color: #0080f9;
    border-radius: 0px 0px 20px 0px;
}

.demo-link:hover,
.github-link:hover {
    background: #000000;
    color: rgb(171, 171, 241);
}

.demo-link:active,
.github-link:active,
.demo-link:focus,
.github-link:focus {
    border: 1px solid rgb(171, 171, 241);
}