.projects {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.projects-container {
    height: 100vh;
    overflow: scroll;
    padding: 1%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: flex-end;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
}

.card-subtitle {
    padding: 5%;
    text-align: center;
    font-weight: 700;
    opacity: .7;
}

.social-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    width: 100%;
}

.btn-text {
    margin-left: 5px;
}