.projects {
  flex: 1 0 100%;
  padding: $section-padding;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
}

.card-subtitle {
  padding: 1em;
  opacity: 0.8;

  text-align: center;
  font-weight: 700;
  display: none;
}

.social-btn {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.load-more-btn {
  border-radius: $rounded-border;
  padding: 1rem;
  font-size: 1rem;
  color: currentColor;
}

@media (min-width: 801px) {
  .card-subtitle {
    display: flex;
  }
}
