/* ------- universal styling ------- */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
height: 100vh;
scroll-behavior: smooth;
}

.App,
#root,
body {
width: 100%;
height: 100%;
}

.App {
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: darkslateblue;
    color: white;
    transition: 0.2s linear;
}

body.lightMode {
    background-color: rgb(80, 23, 80);
    color: black;
}

/* toggle-bar  */
.toggle-bar {
    position: fixed;
    bottom: 5%;
    width: 100%;
    z-index: 100;
}

.label {
    width: 15%;
    height: 30px;  
    background-color: blue;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    left: 50%;
    position: relative;
    transform: translateX(-50%) scale(2);
}

.ball {
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) translateX(2px);
    border-radius: 50%;
    transition: 0.5s linear;
}

#menu-checkbox,
.toggle-checkbox {
    opacity: 0;
    position: absolute;
}
    
.toggle-checkbox:checked + .label {
    background-color: purple;
}

.toggle-checkbox:checked + .label .ball {
    transform: translateY(-50%) translateX(-27px);
    left: 100%;
}

.fa-pencil-alt {
    margin-left: 5px;
}

/* menu */
.menu {
    position: fixed;
    width: 70px;
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    z-index: 100;
}

.btn {
    width: 70px;
    height: 70px;
    background-color: rgba(220, 20, 60, 0.267);
    border-radius: 50%;
    position: absolute;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn::before {
    --scale: 0;
    
    content: attr(data-tooltip);
    color: white;
    background-color: rgba(90, 20, 220, 0.507);
    padding: .5rem;
    border-radius: 50%;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms transform;
}

.btn .fas {
    font-size: 36px;
}

.btn:hover .fas {
    color: aqua;
    /* color change on darkmode? */
}

.btn:hover::before {
    --scale: 1;
}

.menuBtn,
.closeBtn {
    position: absolute;
    transition: 0.3s ease;
}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}

.btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.btn:nth-child(2) {
    left: 0;
    transition-delay: 0s;
}

.btn:nth-child(3) {
    left: 0;
    top: 0;
    transition-delay: 0.1s;
}

.btn:nth-child(4) {
    top: 0;
    transition-delay: 0.2s;
}

.btn:nth-child(5) {
    left: 0;
    top: 0;
    transition-delay: 0.3s;
}

.btn:nth-child(6) {
    left: 0;
    transition-delay: 0.4s;
}

#menu-checkbox:checked ~ .toggle-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
}

#menu-checkbox:checked ~ .toggle-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(2) {
    left: -100px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(3) {
    left: -75px;
    top: 72.5px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(4) {
    top: 100px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(5) {
    left: 75px;
    top: 72.5px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(6) {
    left: 100px;
    opacity: 1;
}

/* overall page styling */
.page {
    width: 100%;
    /* height: max-content; */
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* home page styling */
.home {
    background-color: cadetblue;
}

/* dev home page */
.flesh-bg {
    position: relative;
    margin: 0;
    height: auto;
    width: 100%;
    background: url(./images/dev-home-images/flesh.png) no-repeat;
    background-size: 100% auto;
}

img.bone-bg {
    width: 100%;
    margin: 0;
    mask-image: url(./images/dev-home-images/xray-cursor.png);
    mask-repeat: no-repeat;
    mask-size: 150px;
}

.eyes {
    /* background-color: red; */
    height: 4.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    /* left: 50%; */
    /* transform: translateY(-50%); */
}

.eye {
    width: 4.5%;
    height: 100%;
    margin: 1%;
    /* background-color: seagreen; */
    display: inline-block;
    border-radius: 20% 20% 20% 40%;
    position: relative;
    overflow: hidden;
}

.pupil {
    width: 20%;
    height: 30%;
    background: url(./images/dev-home-images/pupil.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* designer home page */
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./images/design-home-images/1-background.png);
    background-attachment: fixed;
    background-size: cover;
}

#scene,
.layer {
    width: 100%;
    height: 100%;
}

.container #scene .layer img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

/* about page */
.about {
    background-color: chartreuse;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-text {
    width: 65%;
    padding: 5%;
    background-color: chocolate;
}

.about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 5%;
    background-color: darkblue;
}

.about-avatar-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid 10px darkred;
    background-color: chocolate;
    margin-bottom: 10%;
}

.about-caption {
    text-align: center;
}

/* projects page */
.projects {
    background-color: crimson;
}

.contact {
    background-color: chocolate;
}