/* ------- universal styling ------- */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
height: 100vh;
scroll-behavior: smooth;
}

.App,
#root,
body {
width: 100%;
height: 100%;
}

.App {
    overflow: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: darkslateblue;
    color: white;
    transition: 0.2s linear;
}

body.lightMode {
    background-color: rgb(80, 23, 80);
    color: black;
}

/* toggle-bar  */
.toggle-bar {
    position: fixed;
    bottom: 5%;
    width: 100%;
    z-index: 100;
}

.label {
    width: 15%;
    height: 30px;  
    background-color: blue;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    left: 50%;
    position: relative;
    transform: translateX(-50%) scale(2);
}

.ball {
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%) translateX(2px);
    border-radius: 50%;
    transition: 0.5s linear;
}

#menu-checkbox,
.toggle-checkbox {
    opacity: 0;
    position: absolute;
}
    
.toggle-checkbox:checked + .label {
    background-color: purple;
}

.toggle-checkbox:checked + .label .ball {
    transform: translateY(-50%) translateX(-27px);
    left: 100%;
}

.fa-pencil-alt {
    margin-left: 5px;
}

/* menu */
.menu {
    position: fixed;
    width: 70px;
    left: 50%;
    top: 2.5%;
    transform: translateX(-50%);
    z-index: 100;
}

.btn {
    width: 70px;
    height: 70px;
    background-color: rgba(220, 20, 60, 0.267);
    border-radius: 50%;
    position: absolute;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn::before {
    --scale: 0;
    
    content: attr(data-tooltip);
    color: white;
    background-color: rgba(90, 20, 220, 0.507);
    padding: .5rem;
    border-radius: 50%;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms transform;
}

.btn .fas {
    font-size: 36px;
}

.btn:hover .fas {
    color: aqua;
    /* color change on darkmode? */
}

.btn:hover::before {
    --scale: 1;
}

.menuBtn,
.closeBtn {
    position: absolute;
    transition: 0.3s ease;
}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}

.btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.btn:nth-child(2) {
    left: 0;
    transition-delay: 0s;
}

.btn:nth-child(3) {
    left: 0;
    top: 0;
    transition-delay: 0.1s;
}

.btn:nth-child(4) {
    top: 0;
    transition-delay: 0.2s;
}

.btn:nth-child(5) {
    left: 0;
    top: 0;
    transition-delay: 0.3s;
}

.btn:nth-child(6) {
    left: 0;
    transition-delay: 0.4s;
}

#menu-checkbox:checked ~ .toggle-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
}

#menu-checkbox:checked ~ .toggle-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(2) {
    left: -100px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(3) {
    left: -75px;
    top: 72.5px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(4) {
    top: 100px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(5) {
    left: 75px;
    top: 72.5px;
    opacity: 1;
}

#menu-checkbox:checked ~ .toggle-menu .btn:nth-child(6) {
    left: 100px;
    opacity: 1;
}

/* overall page styling */
.page {
    width: 100%;
    /* height: max-content; */
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* home page styling */
.home {
    background-color: cadetblue;
}

/* dev home page */
.flesh-bg {
    position: relative;
    margin: 0;
    height: auto;
    width: 100%;
    background: url(./images/dev-home-images/flesh.png) no-repeat;
    background-size: 100% auto;
}

img.bone-bg {
    width: 100%;
    margin: 0;
    mask-image: url(./images/dev-home-images/xray-cursor.png);
    mask-repeat: no-repeat;
    mask-size: 150px;
}

.eyes {
    /* background-color: red; */
    height: 4.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    /* left: 50%; */
    /* transform: translateY(-50%); */
}

.eye {
    width: 4.5%;
    height: 100%;
    margin: 1%;
    /* background-color: seagreen; */
    display: inline-block;
    border-radius: 20% 20% 20% 40%;
    position: relative;
    overflow: hidden;
}

.pupil {
    width: 20%;
    height: 30%;
    background: url(./images/dev-home-images/pupil.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* designer home page */
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(./images/design-home-images/1-background.png);
    background-attachment: fixed;
    background-size: cover;
}

#scene,
.layer {
    width: 100%;
    height: 100%;
}

.container #scene .layer img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

/* about page */
.about {
    background-color: chartreuse;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-text {
    width: 65%;
    padding: 5%;
    background-color: chocolate;
}

.about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 5%;
    background-color: darkblue;
}

.about-avatar-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid 10px darkred;
    background-color: chocolate;
    margin-bottom: 10%;
}

.about-caption {
    text-align: center;
}

/* styling filter menu */
.filter-checkbox {
  display: none;
}

.filter-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 100%;
}

.filter-menu li {
    list-style: none;
    width: 10%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(13, 10, 17);
}
  
  .filter-menu li label {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    text-align: center;
    transition: background-color 300ms ease-in;
    background-color:rgb(30, 177, 245);
}
  
  /* highlight multiple selected genres */
  .filter-menu li input:checked ~ label,
  .filter-menu li label:hover {
    background-color:rgb(224, 39, 121);
}

/* projects page */
.projects {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

/* dev project cards  */
.project-card {
    width: 45%;
    /* background-color: aquamarine; */
    height: 45vh;
    margin: 1%;
}

.card-content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    /* padding: 15em 5em; */
    transition: transform 2s;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.project-card:hover .card-content {
    transform: rotateY(.5turn);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.card-front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.front-titles {
    position: absolute;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translateY(-50%) translateZ(6rem);
}

.card-title {
    font-size: 3vw;
    text-transform: uppercase;
}

.card-subtitle {
    font-size: .75rem;
    transform: translateZ(6rem);
    font-weight: 700;
    opacity: .7;
}

.card-description {
    transform: translateZ(6rem);
    height: 55%;
    overflow: scroll;
    padding: 5%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    /* font-weight: 400;
    font-size: 1.5rem; */
}

.card-tools {
    transform: translateZ(3rem);
    opacity: .7;
    display: inline-flex;
    height: 25%;
    width: 100%;
    flex-wrap: wrap;
    padding: 0% 5%;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
}

.card-tool{ 
    margin: 0% 5%;
    text-align: center;
}

.card-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20%;
    transform: translateZ(6rem);
    border-radius: 0px 0px 20px 20px;
    background-color: deeppink;
}

.demo-link,
.github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    width: 100%;
    height: 100%;
}

.demo-link {
    background-color: darkgreen;
    border-radius: 0px 0px 0px 20px;
}

.card-back {
    transform: rotateY(.5turn);
    background-color: slateblue;
}

/* design project cards  */
.card-hover-area {
    perspective: 1000px;
    width: 22.5%;
    /* background-color: aquamarine; */
    height: 45vh;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.des-project-card {
    transform-style: preserve-3d;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.des-project-card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.des-card-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.5s ease-out;
    background-color: rgba(255, 255, 255, 0.671);
    /* z-index: 5; */
}

.des-card-title {
    font-size: 3vw;
    width: 100%;
    /* height: 50%; */
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
    /* background-color: rgba(255, 255, 255, 0.671); */
}

.des-card-subtitle {
    font-size: .75rem;
    text-align: center;
    font-weight: 700;
    /* height: 30%; */
    width: 100%;
    opacity: .7;
    padding: 5%;
    /* background-color: rgba(255, 255, 255, 0.671); */
}

.flickr-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    background-color: darkorange;
    position: relative;
    /* bottom: 0; */
    justify-self: flex-end;
    width: 100%;
    height: 20%;
    border-radius: 0px 0px 20px 20px;
}

.btn-text {
    margin-left: 5px;
}

/* contact page styling */
.contact {
    background-color: chocolate;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
}

.social-links {
    background-color: rgb(17, 233, 89);
    /* padding: 5%; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 20%;
    height: 20vh;
    background-color: chocolate;
    margin: 2%;
    text-decoration: none;
}

.social-item .fas,
.social-item .fab {
font-size: 4vw;
margin: 2%;
}