/* ------------ universal styling ------------ */
$heading-font: "Paytone One", sans-serif;
$text-font: "Lexend", sans-serif;
$text-color: white;

$section-padding: 3rem 2rem 4rem;

$dev-primary-color: rgba(44, 22, 65, 1);
$dev-primary-color-transparent: rgba(44, 22, 65, 0.635);
$dev-secondary-color: rgba(74, 58, 158, 1);
$dev-accent-color: rgb(171, 171, 241);
$dev-accent-color2: rgba(0, 128, 249, 1);

$des-primary-color: rgba(253, 81, 118, 1);
$des-secondary-color-transparent: rgba(134, 58, 168, 0.8);
$des-secondary-color: rgba(134, 58, 168, 1);
$des-accent-color: rgb(255, 215, 75);
$des-accent-color2: rgba(250, 150, 36, 1);
$mixed-primary-color: rgb(44, 27, 79);
$shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
$transition-ease: 0.25s ease-in-out;
$rounded-border: 25px;
$circle-border: 50%;

@mixin center-content {
  display: grid;
  place-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

::selection {
  background-color: $mixed-primary-color;
}

.App,
#root,
body {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow-y: auto;
}

/* Dev background colors */
body {
  background: $dev-primary-color; /* fallback for older browsers */
  background: radial-gradient(
    circle,
    $dev-primary-color 20%,
    $dev-secondary-color 100%
  );
  color: $text-color;
  font-family: $text-font;
}

/* Designer background colors */
body.designMode {
  background: $des-secondary-color; /* fallback for older browsers */
  background: radial-gradient(
    circle,
    $des-secondary-color 20%,
    $des-primary-color 100%
  );
}

/* ------------ text styling ------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h2 {
  margin: 1em;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
label {
  cursor: pointer;
}

.page {
  width: 100%;
  scroll-snap-align: end;
}

.hide {
  display: none;
}

/* tablets */
@media (min-width: 600px) {
  .App {
    scroll-snap-type: y mandatory;
  }
}

@media screen and (min--moz-device-pixel-ratio: 0) {
  .App {
    scroll-snap-type: none;
  }
}

/* Component Stylesheets */
/* Buttons */
@import "components/button/desButton.scss";
@import "components/button/devButton.scss";

/* Nav Menu */
@import "components/navMenu/nav";
@import "components/navMenu/designNav";
@import "components/navMenu/devNav";

/* Togglebar */
@import "components/toggleBar/togglebar";

/* Home Page */
@import "components/homePage/home";
@import "components/homePage/devHome";
@import "components/homePage/designHome";

/* About Page */
@import "components/aboutPage/about";
@import "components/aboutPage/designAbout";
@import "components/aboutPage/devAbout";

/* Filter Menu */
@import "components/filterMenu/filterMenu";
@import "components/filterMenu/designFilters";
@import "components/filterMenu/devFilters";

/* Projects Page */
@import "components/projectsPage/projects";
@import "components/projectsPage/designProjects";
@import "components/projectsPage/devProjects";

/* Contact Page */
@import "components/contactPage/contact";
@import "components/contactPage/devContact";
@import "components/contactPage/designContact";
