.about {
  flex: 1 0 100%;
}

.about-container {
  padding: $section-padding;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.about-text {
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.about-text ul {
  list-style: none;
}

/* ------------ Avatar ------------ */
.about-image-container {
  width: 55%;
  padding: 1em;

  display: flex;
  flex-direction: column;
}

.avatar {
  margin-bottom: 1em;
  width: 100%;
  border-radius: 20px;
  box-shadow: $shadow;
}

.about-caption {
  text-align: center;
  opacity: 0.8;
}

/* laptops */
@media (min-width: 801px) {
  .about-image-container {
    width: 45%;
  }
}

/* desktop */
@media (min-width: 1025px) {
  .about-image-container {
    width: 25%;
  }
}
