.about-container {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    width: 65%;
    padding: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.about-image-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 5%;
}

.avatar {
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.about-caption {
    text-align: center;
}