.about-container.des {
  background: var(--des-accent-color2); /* fallback for older browsers */
  background: linear-gradient(
    180deg,
    var(--des-accent-color2) 0%,
    var(--des-primary-color) 40%
  );
}

.avatar.des {
  border: solid 10px var(--des-secondary-color);
  background: var(--des-accent-color);
}
